allure-results
allure-report

.idea

/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

*.xml
.vscode/*

/shelf/
/workspace.xml

/queries/

/dataSources/
/dataSources.local.xml

*.log
*.db
